body,
html {
  height: 100%;
}

.icon {
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 10px;
  z-index: 99;
}

.meta-data {
  z-index: 99;
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}
.meta-data > .item {
  margin: 5px 10px;
  opacity: 0.5;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.meta-data > .item:hover {
  opacity: 1;
}
.meta-data > .item:hover > .title {
  display: block;
}
.meta-data > .item > .title {
  display: none;
}
.meta-data > .item > img {
  margin-left: 10px;
}

.navigation {
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 70px;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.left {
  left: 0px;
}
.navigation.left > .arrow {
  margin-left: -10px;
  opacity: 1;
}
.navigation.right {
  right: 0px;
}
.navigation:hover {
  background: rgba(0, 0, 0, 0.05);
}

.oct {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.oct-info {
  position: fixed;
  font-family: "Roboto", sans-serif;
  padding: 60px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.oct-title {
  font-size: 2em;
}

.oct-description {
  font-size: 1em;
  opacity: 0.7;
}

.oct-credits {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
  margin: 20px;
}
.oct-credits > a {
  color: black;
  text-decoration: none;
}
.oct-credits:hover {
  text-decoration: underline;
}

.z-100 {
  z-index: 10;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-200 {
  margin-bottom: 250px;
  margin-top: -90px;
  z-index: 10;
}

.oct-content {
  width: 400px;
  height: 400px;
  margin-top: 450px;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider div,
.slider > div {
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
}

@keyframes colorShift {
  0% {
      filter: hue-rotate(0deg);
  }
  50% {
      filter: hue-rotate(180deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}

body {
  background: white;
}

.frame {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10% auto;
}
.frame > .background {
  position: absolute;
  width: 350px;
  height: 350px;
  background: #e3f0ff;
  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.frame > .background .bubbles-group {
  position: absolute;
  animation: bubbles-group 5s linear infinite both;
  width: inherit;
  height: inherit;
}
.frame > .background .bubbles-group.group-2 {
  margin-top: 350px;
}
.frame > .background .bubble {
  border: 3px solid #b0d4ff;
  background: #e3f0ff;
  position: absolute;
  border-radius: 50%;
}
.frame > .background .bubble.bubble-1 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}
.frame > .background .bubble.bubble-2 {
  width: 30px;
  height: 30px;
  margin-top: 55px;
  margin-left: 50px;
}
.frame > .background .bubble.bubble-3 {
  width: 8px;
  height: 8px;
  margin-top: 35px;
  margin-left: 105px;
}
.frame > .background .bubble.bubble-4 {
  width: 20px;
  height: 20px;
  margin-top: 35px;
  margin-left: 255px;
}
.frame > .background .bubble.bubble-5 {
  width: 8px;
  height: 8px;
  margin-top: 45px;
  margin-left: 275px;
}
.frame > .background .bubble.bubble-6 {
  width: 30px;
  height: 30px;
  margin-top: 125px;
  margin-left: 275px;
}
.frame > .background .bubble.bubble-7 {
  width: 10px;
  height: 10px;
  margin-top: 175px;
  margin-left: 315px;
}
.frame > .background .bubble.bubble-8 {
  width: 30px;
  height: 30px;
  margin-top: 175px;
  margin-left: 235px;
}
.frame > .background .bubble.bubble-9 {
  width: 30px;
  height: 30px;
  margin-top: 255px;
  margin-left: 25px;
}
.frame > .background .bubble.bubble-10 {
  width: 30px;
  height: 30px;
  margin-top: 285px;
  margin-left: 205px;
}
.frame > .background .bubble.bubble-11 {
  width: 20px;
  height: 20px;
  margin-top: 235px;
  margin-left: 25px;
}
.frame > .background .bubble.bubble-12 {
  width: 20px;
  height: 20px;
  margin-top: 135px;
  margin-left: 50px;
}
.frame .octopus {
  z-index: 2;
  animation: float 2s infinite both;
}
.frame .octopus .helmet {
  position: absolute;
  width: 187px;
  height: 171px;
  margin: 60px 78px;
  border-radius: 55% 55% 45% 45%;
}
.frame .octopus .helmet.background {
  background: #FCD4B7;
  z-index: 2;
}
.frame .octopus .helmet.border {
  width: 184px;
  height: 166px;
  border: 3px solid #FFF5DD;
  z-index: 3;
}
.frame .octopus .helmet.reflection {
  z-index: 3;
}
.frame .octopus .helmet.reflection-1 {
  width: 80px;
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  border-radius: 50%;
  transform: rotate(-30deg);
  margin-top: 80px;
  margin-left: 95px;
  z-index: 2;
}
.frame .octopus .helmet.reflection-2 {
  width: 8px;
  height: 5px;
  background: white;
  border-radius: 50%;
  transform: rotate(-30deg);
  margin-top: 88px;
  margin-left: 120px;
}
.frame .octopus .helmet.reflection-3 {
  width: 15px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transform: rotate(30deg);
  margin-top: 88px;
  margin-left: 220px;
}
.frame .octopus .helmet.reflection-4 {
  width: 20px;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: rotate(-50deg);
  margin-top: 125px;
  margin-left: 98px;
}
.frame .octopus .helmet.reflection-5 {
  overflow: hidden;
}
.frame .octopus .helmet.reflection-5:before {
  content: "";
  position: absolute;
  width: 227px;
  height: 201px;
  margin-left: -30px;
  margin-top: -20px;
  border-radius: 55% 55% 45% 45%;
  background: radial-gradient(rgba(0, 0, 0, 0) 60%, rgba(172, 131, 100, 0.1) 60%);
}
.frame .body {
  position: absolute;
  margin-left: 90px;
  margin-top: 90px;
  z-index: 2;
}
.frame .body .head {
  position: absolute;
  width: 166px;
  height: 129px;
  background: #FA8253;
  border-radius: 55% 55% 45% 45%;
  overflow: hidden;
}
.frame .body .head:before {
  content: "";
  position: absolute;
  background: #FC9260;
  width: 166px;
  height: 129px;
  border-radius: 0% 60% 60% 0%;
  margin-left: 0px;
  margin-top: 0px;
}
.frame .body .head:after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom right, #FFAB59, #FF9B67);
  width: 166px;
  height: 129px;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -5px;
}
.frame .body .eye-border {
  position: absolute;
  width: 35px;
  height: 30px;
  margin-top: 70px;
  margin-left: 30px;
  background: #FA8253;
  border-radius: 15px;
}
.frame .body .eye-border.right {
  margin-left: 100px;
}
.frame .body .eye-border .eye {
  position: absolute;
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  margin: 2px;
}
.frame .body .eye-border .eye.right {
  margin-left: 7px;
}
.frame .body .eye-border .eye .center {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #AECD66;
  border-radius: 50%;
  margin: 4px;
}
.frame .body .eye-border .eye .center .pupil {
  position: absolute;
  width: 8px;
  height: 14px;
  background: #323739;
  border-radius: 50%;
  margin: 2px 5px;
  transform-origin: center center;
  animation: pupil 3s both ease-in-out infinite;
}
.frame .body .eye-border .shadow-1 {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 7px;
}
.frame .body .eye-border .shadow-2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 11px;
}
.frame .body .eye-border .shadow-3 {
  position: absolute;
  width: 12px;
  height: 8px;
  background: white;
  opacity: 0.5;
  transform: rotate(-45deg);
  border-radius: 50%;
  margin-left: 6px;
  margin-top: 6px;
}
.frame .body .mouth {
  position: absolute;
  width: 26px;
  height: 6px;
  background: #7C3737;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 100px;
  transform-origin: center center;
  animation: mouth 4s 2s ease-in-out infinite;
}
.frame .body .spot {
  position: absolute;
  background: #F68A63;
}
.frame .body .spot.spot-1 {
  width: 42px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(-20deg);
  margin-left: 30px;
  margin-top: 15px;
}
.frame .body .spot.spot-2 {
  width: 15px;
  height: 8px;
  border-radius: 50%;
  margin-left: 75px;
  margin-top: 10px;
}
.frame .body .spot.spot-3 {
  width: 15px;
  height: 8px;
  border-radius: 50%;
  transform: rotate(90deg);
  margin-left: 5px;
  margin-top: 70px;
}
.frame .body .spot.spot-4 {
  width: 10px;
  height: 5px;
  border-radius: 50%;
  transform: rotate(10deg);
  margin-left: 100px;
  margin-top: 55px;
}
.frame .body .spot.spot-5 {
  width: 8px;
  height: 4px;
  border-radius: 50%;
  transform: rotate(10deg);
  margin-left: 90px;
  margin-top: 50px;
}
.frame .body .spot.spot-6 {
  width: 12px;
  height: 8px;
  border-radius: 50%;
  transform: rotate(45deg);
  margin-left: 135px;
  margin-top: 30px;
}
.frame .tentacle {
  position: absolute;
  mask-repeat: no-repeat;
  background: linear-gradient(to bottom right, #FFAB59, #FF9B67, #F38959);
  z-index: 2;
  animation: wiggle 2s 1s both infinite ease-in-out;
  transform-origin: top;
}
.frame .tentacle:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
}
.frame .tentacle.tentacle-1 {
  width: 30px;
  height: 60px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-1.svg);
  margin-top: 210px;
  margin-left: 120px;
}
.frame .tentacle.tentacle-1:before {
  width: 30px;
  height: 60px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-1.svg);
  margin-left: 13px;
}
.frame .tentacle.tentacle-2 {
  width: 50px;
  height: 80px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-2.svg);
  margin-top: 210px;
  margin-left: 140px;
  transform: rotate(5deg);
}
.frame .tentacle.tentacle-2:before {
  width: 50px;
  height: 80px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  transform: rotate(-5deg);
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-2.svg);
  margin-left: 15px;
}
.frame .tentacle.tentacle-3 {
  width: 50px;
  height: 80px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-3.svg);
  margin-top: 210px;
  margin-left: 155px;
  transform: rotate(10deg);
}
.frame .tentacle.tentacle-3:before {
  width: 50px;
  height: 80px;
  transform: rotate(-20deg);
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-3.svg);
  margin-left: 25px;
}
.frame .tentacle.tentacle-4 {
  width: 80px;
  height: 80px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-4.svg);
  margin-top: 210px;
  margin-left: 175px;
  transform: rotate(5deg);
}
.frame .tentacle.tentacle-4:before {
  width: 80px;
  height: 80px;
  filter: hue-rotate(0deg);
  animation: colorShift 5s infinite linear;
  transform: rotate(-25deg);
  mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/tentacle-4.svg);
  margin-left: 35px;
}

.octopus-shadow {
  position: absolute;
  width: 187px;
  height: 171px;
  margin: 60px 78px;
  border-radius: 55% 55% 45% 45%;
  background: rgba(0, 0, 255, 0.05);
  margin-top: 90px;
  margin-left: 90px;
  z-index: 1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bubbles-group {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-350px);
  }
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes pupil {
  0%, 25% {
    transform: rotateX(0deg);
  }
  12.5% {
    transform: rotateX(70deg);
  }
}
@keyframes mouth {
  0%, 20% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.2);
  }
}
.button {
  filter: invert(1) hue-rotate(45deg);
  --black-700: hsla(0 0% 12% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 1rem 2rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

  transition: all var(--transtion);
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: hsla(260 97% 61% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.button:is(:hover, :focus-visible) {
  --active: 1;
}
.button:active {
  transform: scale(1);
}

.button .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: white;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button .sparkle {
  position: relative;
  z-index: 10;
  width: 1.75rem;
}

.button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite
}

.button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button .text_button {
  position: relative;
  z-index: 100;

  background-image: linear-gradient(
    90deg,
    hsla(0 0% 100% / 1) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: 1rem;
  color: transparent;
}


.hover-rainbow:is(:hover, :focus) img {
  animation: colorShift 5s infinite linear;
}

.bg-trifecta {
  background: url(https://ethglobal.storage/events/trifecta/images/ftv4p/default.svg) !important;
  background-size: cover !important;
  background-position: top;
  z-index: 10;
}

.no-bold {
  font-weight: normal;
}

.revert-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  height: 300vh;
  transform: rotate(-180deg);
  background-size: 100% !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  opacity: 0.77;
}

.bg-special {
  background-color: #00000123;
}

section {
  position: relative;
  z-index: 10;
}

.bg-tr {
  background-color: #fbf7f499;
  backdrop-filter: blur(3px);
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  cursor: pointer;
  transform: scale(1.1);
}
